[Unit]
Description=healthcheck_app
After=network.target

[Service]
User=csye6225
Group=csye6225
WorkingDirectory=/usr/bin/
ExecStart=python3 -m Application  
Restart=always

[Install]
WantedBy=multi-user.target